.footer {
    /*margin:0 auto;*/
    padding: 44px 0 24px;
}
.footer__copyright {
    margin: 0;
font-size: 14px;
line-height: 16px;
text-align: center;
}

@media screen and (max-width:1024px) {
.footer {
/*margin: 88px 0 24px;*/
padding: 44px 0 24px;
}
}

@media screen and (max-width:544px) {
.footer{
    /*margin: 64px 0 24px;*/
    padding: 20px 0 24px;
}

}
