.places{
    padding: 46px 0 45px;
    margin: 0 auto;
    max-width: 987px;
}

.place{
    display: grid;
grid-template-columns: 1fr 1fr; 

  column-gap: 40px;
  row-gap: 48px;

grid-template-areas: 
    "title website"
    "image paragraph"
    "button paragraph";

    margin-bottom: 80px;
    }

.place__title{
    grid-area: title;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}
.place__website{
    grid-area: website;
    align-self: end;
}

.place__website-url{
   font-size: 12px;
   line-height: 100%;
   color: #AAAAAA;
;
}
.place__website-artist{
   font-size: 18px;
   line-height: 22px;
   margin: 0;
}


.place__image-container{
    grid-area: image;
}

.place__image{
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
      width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.place__image:hover {
    filter: brightness(0.65);
}
.place__paragraph{
    grid-area: paragraph;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph p{
    margin: 0 0 25px 0;
}

.place__button{
    grid-area: button;
    display:flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 13px 20px;
  background-image: linear-gradient(180deg, #0278FE 0%, #003A7B 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none; 
outline: none;
width: fit-content;
justify-self: start;
  align-self: start;
}

.place__button:hover {
    background-color: transparent;
background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}



.place__button-paragraph{
  color: #ffffff;      
  font-size: 18px;  
  line-height: 100%;   
  display: inline-block;
  margin: 0;
}


@media screen and (max-width:1024px) {

    .place{
        margin: 0 24px;
        column-gap: 28px;
    }

    .place__paragraph{
    font-size: 16px;
}

.place__title{
    font-size: 42px;
    line-height: 46px;

}
}
@media screen and (max-width:544px) {
.place {
    grid-template-columns: 1fr; 

    grid-template-areas: 
      "title"
      "website"
      "image"
      "paragraph"
      "button";

    row-gap: 30px;       
    column-gap: 0;       
    margin-bottom: 65px; 
  }
    .place__button{
        width: 100%;           
    justify-self: center;   
    margin-top: 0;}
    
.place__title{
    font-size: 32px;
    line-height: 35px;

}
.place__button-paragraph{    
  font-size: 14px;   
}
}
